# Data Dive and Preparation in Python

In this notebook, we will explore how to evaluate and clean variables in a dataset using Python. 
We will also perform basic exploratory data analysis (EDA) to understand the structure and contents 
of the dataset and make any necessary modifications for analysis.

## What is Exploratory Data Analysis (EDA)?

Exploratory Data Analysis (EDA) refers to the process of investigating datasets to summarize their main characteristics. 
It often involves understanding variable distributions, relationships between variables, and checking for anomalies 
such as missing values or outliers. The primary objectives of EDA are to:

1. **Understand the structure** of the dataset.
2. **Detect outliers** or anomalies.
3. **Identify missing data** and plan for handling it.
4. **Create or derive new variables** if necessary for analysis.
5. **Prepare the data** for statistical analysis.

## Loading and Exploring the Data

First, we load the `pandas` and `numpy` libraries, and read in our dataset.

In [3]:
import pandas as pd
import numpy as np

# Loading the dataset
college_data = pd.read_csv('data/colleges.csv')

# Preview the first few rows of the dataset
college_data.head()

,OPEID,name,city,state,region,median_debt,default_rate,highest_degree,ownership,locale,...,avg_cost,net_tuition,ed_spending_per_student,avg_faculty_salary,pct_PELL,pct_fed_loan,grad_rate,pct_firstgen,med_fam_income,med_alum_earnings
0,100200,Alabama A & M University,Normal,AL,South,15.250,12.1,Graduate,Public,Small City,...,23.445,8.101,4.836,7.599,70.95,75.04,28.66,36.582809,23.5530,36.339
1,105200,University of Alabama at Birmingham,Birmingham,AL,South,15.085,4.8,Graduate,Public,Small City,...,25.542,11.986,14.691,11.380,33.97,46.88,61.17,34.122367,34.4890,46.990
2,2503400,Amridge University,Montgomery,AL,South,10.984,12.9,Graduate,Private nonprofit,Small City,...,20.100,13.890,3.664,4.545,74.52,84.93,25.00,51.250000,15.0335,37.895
3,105500,University of Alabama in Huntsville,Huntsville,AL,South,14.000,4.7,Graduate,Public,Small City,...,24.861,8.279,8.320,9.697,24.03,38.55,57.14,31.013216,44.7870,54.361
4,100500,Alabama State University,Montgomery,AL,South,17.500,12.8,Graduate,Public,Small City,...,21.892,9.302,9.579,7.194,73.68,78.05,31.77,34.343434,22.0805,32.084


We will check the dataset's basic structure including the number of rows, columns, and data types.

In [19]:
# Checking the structure of the dataset
print("Data structure")
print(college_data.info())

# Getting a statistical summary of numeric variables
print("Statistical summary")
print(college_data.describe(include=[np.number]))

# Getting a statistical summary of categorical variables
print("Summary of categorical variables")
print(college_data.describe(include=[object]))

Data structure
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4435 entries, 0 to 4434
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   OPEID                    4435 non-null   int64
 1   name                     4435 non-null   object
 2   city                     4435 non-null   object
 3   state                    4435 non-null   object
 4   region                   4435 non-null   object
 5   median_debt              4435 non-null   float64
 6   default_rate             4435 non-null   float64
 7   highest_degree           4435 non-null   object
 8   ownership                4435 non-null   object
 9   locale                   4435 non-null   object
 10  hbcu                     4435 non-null   object
 11  admit_rate               1704 non-null   float64
 12  SAT_avg                  1105 non-null   float64
 13  online_only              4435 non-null   object
 14  enrollment               4435 non-null   int64
 15  net_price                4435 non-null   float64
 16  avg_cost                 4435 non-null   float64
 17  net_tuition              4435 non-null   float64
 18  ed_spending_per_student  4435 non-null   float64
 19  avg_faculty_salary       3077 non-null   float64
 20  pct_PELL                 4435 non-null   float64
 21  pct_fed_loan             4435 non-null   float64
 22  grad_rate                4435 non-null   float64
 23  pct_firstgen             4088 non-null   float64
 24  med_fam_income           4399 non-null   float64
 25  med_alum_earnings        3912 non-null   float64
dtypes: float64(15), int64(2), object(9)
memory usage: 901.0+ KB
None
Statistical summary
              OPEID  median_debt  default_rate   admit_rate      SAT_avg  \
count  4.435000e+03  4435.000000   4435.000000  1704.000000  1105.000000
mean   1.492464e+06    11.195790      9.060090    70.812576  1139.842534
std    1.976276e+06     5.319178      6.144554    20.567925   131.630792
min    1.002000e+05     1.932000      0.000000     2.440000   760.000000
25%    2.822000e+05     6.863000      4.400000    59.787500  1050.000000
50%    7.669000e+05     9.500000      8.200000    74.680000  1113.000000
75%    2.362002e+06    15.000000     12.300000    86.115000  1205.000000
max    7.209887e+07    33.470000     57.100000   100.000000  1566.000000

          enrollment    net_price     avg_cost  net_tuition  \
count    4435.000000  4435.000000  4435.000000  4435.000000
mean     3110.519053    17.371474    27.102880    10.836639
std      6429.445325     8.638514    14.988075     7.506410
min         0.000000    -0.407000     4.760000     0.000000
25%       171.000000    10.849000    16.452500     5.439500
50%       868.000000    16.757000    22.945000     9.912000
75%      2953.000000    22.470500    32.032500    14.218000
max    109233.000000   112.050000   120.377000    66.442000

       ed_spending_per_student  avg_faculty_salary     pct_PELL  pct_fed_loan  \
count              4435.000000         3077.000000  4435.000000   4435.000000
mean                  7.760832            7.266518    45.555540     49.069461
std                   6.881391            2.528365    20.309775     24.542281
min                   0.000000            0.897000     0.000000      0.000000
25%                   4.126000            5.610000    29.830000     30.925000
50%                   6.352000            6.958000    42.500000     52.540000
75%                   9.342000            8.573000    60.380000     67.680000
max                 139.766000           21.143000   100.000000    100.000000

         grad_rate  pct_firstgen  med_fam_income  med_alum_earnings
count  4435.000000   4088.000000     4399.000000        3912.000000
mean     54.945651     43.357756       31.791930          40.007157
std      22.051351     12.931312       20.811117          14.486256
min       0.000000      8.866995        0.000000          10.939000
25%      37.310000     35.006281       17.827750          29.720250
50%      56.400000     45.102178       24.670000          38.056000
75%      71.915000     52.599727       39.516500          47.381250
max     100.000000     85.906040      179.864000         132.969000
Summary of categorical variables
                     name      city state   region highest_degree  \
count                4435      4435  4435     4435           4435
unique               4357      1943    54        7              4
top     Cortiva Institute  New York    CA  Midwest       Graduate
freq                    6        51   423     1074           1464

                 ownership  locale  hbcu online_only
count                 4435    4435  4435        4435
unique                   3       5     2           2
top     Prviate for-profit  Suburb    No          No
freq                  1684    1311  4348        4413


## Making a Copy of the Original Data for Processing

We will create a copy of the dataset to keep the original raw data intact. This is useful for checking our work later.

In [5]:
# Creating a copy of the dataset for modification
college_data_cleaned = college_data.copy()

## Creating an index

Our dataset already has an ID variable, but adding an index can help us track the order of the observations.

In [8]:
# making a copy of data frame for modification
college_data_cleaned = college_data.copy()

# first we will find the sample size (the number of rows)
sampsize = college_data_cleaned.shape[0]

# then we will create an index that ranges from to 
# GOOD CODING PRACTIC: DON'T HARD CODE THE SAMPLE SIZE
college_data_cleaned['index'] = pd.Series(range(0,sampsize))

# Check 
college_data_cleaned[['OPEID','name','index']].head(10)

     OPEID                                 name  index
0   100200             Alabama A & M University      0
1   105200  University of Alabama at Birmingham      1
2  2503400                   Amridge University      2
3   105500  University of Alabama in Huntsville      3
4   100500             Alabama State University      4
5   105100            The University of Alabama      5
6   100700    Central Alabama Community College      6
7   831000      Auburn University at Montgomery      7
8   100900                    Auburn University      8
9   101200          Birmingham-Southern College      9

## Handling Outliers & Unexpected Values

We will identify potential outliers in variables such as `SAT_avg` and replace values that are outside reasonable bounds.

In [9]:
# describe the the numeric data
college_data_cleaned.describe(include=[np.number])

,OPEID,median_debt,default_rate,admit_rate,SAT_avg,enrollment,net_price,avg_cost,net_tuition,ed_spending_per_student,avg_faculty_salary,pct_PELL,pct_fed_loan,grad_rate,pct_firstgen,med_fam_income,med_alum_earnings,index
count,4.435000e+03,4435.000000,4435.000000,1704.000000,1105.000000,4435.000000,4435.000000,4435.000000,4435.000000,4435.000000,3077.000000,4435.000000,4435.000000,4435.000000,4088.000000,4399.000000,3912.000000,4435.000000
mean,1.492464e+06,11.195790,9.060090,70.812576,1139.842534,3110.519053,17.371474,27.102880,10.836639,7.760832,7.266518,45.555540,49.069461,54.945651,43.357756,31.791930,40.007157,2217.000000
std,1.976276e+06,5.319178,6.144554,20.567925,131.630792,6429.445325,8.638514,14.988075,7.506410,6.881391,2.528365,20.309775,24.542281,22.051351,12.931312,20.811117,14.486256,1280.418551
min,1.002000e+05,1.932000,0.000000,2.440000,760.000000,0.000000,-0.407000,4.760000,0.000000,0.000000,0.897000,0.000000,0.000000,0.000000,8.866995,0.000000,10.939000,0.000000
25%,2.822000e+05,6.863000,4.400000,59.787500,1050.000000,171.000000,10.849000,16.452500,5.439500,4.126000,5.610000,29.830000,30.925000,37.310000,35.006281,17.827750,29.720250,1108.500000
50%,7.669000e+05,9.500000,8.200000,74.680000,1113.000000,868.000000,16.757000,22.945000,9.912000,6.352000,6.958000,42.500000,52.540000,56.400000,45.102178,24.670000,38.056000,2217.000000
75%,2.362002e+06,15.000000,12.300000,86.115000,1205.000000,2953.000000,22.470500,32.032500,14.218000,9.342000,8.573000,60.380000,67.680000,71.915000,52.599727,39.516500,47.381250,3325.500000
max,7.209887e+07,33.470000,57.100000,100.000000,1566.000000,109233.000000,112.050000,120.377000,66.442000,139.766000,21.143000,100.000000,100.000000,100.000000,85.906040,179.864000,132.969000,4434.000000

For illustrative purposes (realizing this doesn't match reality), let's imagine the highest SAT possible was 1500. We will assume anything higher is a mistake and set the value to missing.

In [12]:

# This is what the code does:
  ## It's looking at each row in the collegeDat DataFrame.
  ## Wherever the value of 'SAT_avg' in that DataFrame is greater than 1500,
  ##  it goes to the corresponding row in the collegeDat_mod DataFrame.
  ## In the 'SAT_avg' column of collegeDat_mod, it replaces those values with np.nan for missing.
college_data_cleaned.loc[college_data['SAT_avg'] > 1500, 'SAT_avg'] = np.nan

  # check 
maxSAT = college_data['SAT_avg'].max()
maxSAT_mod = college_data_cleaned['SAT_avg'].max()
print("The max of SAT_avg before:" + str(maxSAT))
print("The max of SAT_avg after:" + str(maxSAT_mod))

The max of SAT_avg before:1566.0
The max of SAT_avg after:1500.0

## Examine character data

In [13]:
# describe the character data 
print(college_data.describe(include=[object]))

# this doesn't give enough information 
# what if some categories are slightly different but mean the same thing?

print(college_data_cleaned['highest_degree'].unique()) # looks good
print(college_data_cleaned['ownership'].unique()) # looks good
# etc.

                     name      city state   region highest_degree  \
count                4435      4435  4435     4435           4435
unique               4357      1943    54        7              4
top     Cortiva Institute  New York    CA  Midwest       Graduate
freq                    6        51   423     1074           1464

                 ownership  locale  hbcu online_only
count                 4435    4435  4435        4435
unique                   3       5     2           2
top     Prviate for-profit  Suburb    No          No
freq                  1684    1311  4348        4413
['Graduate' 'Associates' 'Bachelors' 'Certificate']
['Public' 'Private nonprofit' 'Prviate for-profit']

### Handling categorical data

#### Converting categorical data to dummies

Note: The example in the book is probably not a typical task - converting school categories to numeric grades. More often, we want to turn categories into a series of booleans that let us know whether an observation belongs to the category. This is sometimes referred to as "one-hot" coding.

In [14]:
# the get_dummies function creates all the variables we need
# these are in a new data frame
highest_degree_dummies = pd.get_dummies(college_data_cleaned['highest_degree'])

# let's see what these look like
print(highest_degree_dummies.head(5))

# let's convert them to 0/1 for TRUE/FALSE
highest_degree_dummies = highest_degree_dummies.astype(int)

# let's take another look
print(highest_degree_dummies.head(5))

# add these to collegeDat_mod
college_data_cleaned = pd.concat([college_data_cleaned,highest_degree_dummies], axis=1)

   Associates  Bachelors  Certificate  Graduate
0       False      False        False      True
1       False      False        False      True
2       False      False        False      True
3       False      False        False      True
4       False      False        False      True
   Associates  Bachelors  Certificate  Graduate
0           0          0            0         1
1           0          0            0         1
2           0          0            0         1
3           0          0            0         1
4           0          0            0         1

#### Creating new categorical variables

There will be other times that we want to convert numeric data to categories. For example, we might create "bins" of averge SAT scores - such as low, medium and high scores.

In [18]:
# defining the edges of the bins
bins = [400, 1000, 1300, 1600]  

# defining the labels for your bins
labels = ['low', 'medium', 'high']

# creating new variable using cut function
college_data_cleaned['SAT_avg_category'] = pd.cut(college_data_cleaned['SAT_avg'], bins=bins, labels=labels, include_lowest=True)

# check 
print("Checking SAT_avg_category creation")
print(college_data_cleaned[['SAT_avg','SAT_avg_category']].head(10))

# we could also create a category for missing
college_data_cleaned['SAT_avg_category'] = college_data_cleaned['SAT_avg_category'].astype('object')  # Ensure it's of object type in order to hold string
SAT_miss_which = college_data_cleaned['SAT_avg'].isna()
college_data_cleaned.loc[SAT_miss_which, 'SAT_avg_category'] = 'missing'

# check
print("Check creation of missing category")
print(college_data_cleaned[['SAT_avg','SAT_avg_category']].head(10))

Checking SAT_avg_category creation
   SAT_avg SAT_avg_category
0    959.0              low
1   1245.0           medium
2      NaN              NaN
3   1300.0           medium
4    938.0              low
5   1262.0           medium
6      NaN              NaN
7   1061.0           medium
8   1302.0             high
9   1202.0           medium
Check creation of missing category
   SAT_avg SAT_avg_category
0    959.0              low
1   1245.0           medium
2      NaN          missing
3   1300.0           medium
4    938.0              low
5   1262.0           medium
6      NaN          missing
7   1061.0           medium
8   1302.0             high
9   1202.0           medium

#### Some notes about missing data

Missing data is almost a universal phenomenon in data analyses. It is rare for a real-world dataset to contain complete information with valid values for every variable on every observation. Instead, missing information, data corruption, incomplete surveys, etc. are very common. Other times, strange data values that may be the consequence of data entry mistakes may need to be changed to be missing. 

One may be inclined to "fill in" missing data points with plausible values. This is referred to as "imputation."  While this practice solves the operational difficulty that missing data impose, it can potentially create statistical problems such as distorted estimates of statistical summaries , understated standard
errors, and in general, misleading results. There are some complex statistical methods for imputation that can be beneficial in some contexts, but these are beyond the scope of this class. 

Without imputation, observations with missing values for any variables included in an analysis will need to be excluded. This is often referred to as case-wise deletion (sometimes referred to as list-wise deletion). Case-wise deletion is the default method in most statistical software packages, including and R and Python. The method is attractive for its simplicity. It can be used for any kind of data analysis and requires no special computational methods. In particular, if the data are missing completely at random then the reduced sample will be a random sub-sample of the original sample. Data are said to be missing completely at random if the probability of missing data for a given variable is unrelated to its value and unrelated to the value of any other variable. That is, there is no pattern that can explain the reason for the variable being missing; the missingness occurs randomly. This implies that for any analysis, the results still generalize to the population represented in your full dataset. If data are not missing completely at random, then your findings may not generalize to the larger population. For example, if your data comes from a survey and younger people are more likely to have missing responses than older people, then your findings may not generalize as well to younger people. 

Another option that may work for some analyses, but not all, is to include the missingness in your analyses by capturing it as a category as we did above. You still won't have information for the variable with the missing value (e.g. average SAT score of students at the college) but if want to look at how average SAT score relates average cost, you can see how missingness is part of the story. 

Here are some notes about coding to deal with missing data in Python `pandas`:
- Representation of Missing Values: In Pandas, missing values are generally represented by NaN (Not a Number) for numerical data (as we saw above) and None or NaN for object data types
- Detecting Missing Values: Pandas offers functions like isna() or isnull() to detect missing values. These functions return a boolean mask over the data indicating whether an element is missing.
- Calculations on Variables with Missing Values: functions like `mean`, `sum` and similar statistical functions will, by default, ignore the missing values. That is, it will automaticlaly do casewise deletion. 

Main summary: Check for missing values. If you jump straight to computing statistics, you may not realize you have missing values. Be thoughtful about the implications of your missing values.

In [16]:
# Checking for  missing values
college_data_cleaned.isna().sum()

OPEID                         0
name                          0
city                          0
state                         0
region                        0
median_debt                   0
default_rate                  0
highest_degree                0
ownership                     0
locale                        0
hbcu                          0
admit_rate                 2731
SAT_avg                    3348
online_only                   0
enrollment                    0
net_price                     0
avg_cost                      0
net_tuition                   0
ed_spending_per_student       0
avg_faculty_salary         1358
pct_PELL                      0
pct_fed_loan                  0
grad_rate                     0
pct_firstgen                347
med_fam_income               36
med_alum_earnings           523
index                         0
Associates                    0
Bachelors                     0
Certificate                   0
Graduate                      0
SAT_avg_category              0
dtype: int64

#### Standardize variables

Finally, you read about "standardizing" numeric variables. This means we center the variables around their mean and we convert the units of measurement of the variable to units of standard deviations. To do this, for each value of the variable, we substract the mean of the variable and divide by the standard deviation. In your reading, the method for doing this is illustrated when using the `scipy` package. Below, I show how to standardize a variable using `pandas`.

In [17]:
# Calculate the mean and standard deviation
meanCost = college_data_cleaned['avg_cost'].mean()
std_devCost = college_data_cleaned['avg_cost'].std()

# Standardize the column
college_data_cleaned['avg_cost_std'] = (college_data_cleaned['avg_cost'] - meanCost) / std_devCost

# Check
print(meanCost)
print(std_devCost)
print(college_data_cleaned[['avg_cost','avg_cost_std']].head(10))
meanCost_std = college_data_cleaned['avg_cost_std'].mean() # should be close to zero
print(meanCost_std)

27.10288004509583
14.98807514021403
   avg_cost  avg_cost_std
0    23.445     -0.244053
1    25.542     -0.104141
2    20.100     -0.467230
3    24.861     -0.149578
4    21.892     -0.347668
5    30.016      0.194363
6     9.437     -1.178662
7    20.225     -0.458890
8    32.196      0.339811
9    32.514      0.361028
-1.0253604304091637e-16